@font-face {
    font-family: "Gotham";
    src: url('Gotham\ Bold.otf');
}

*, html, body{
    border: 0;
    margin: 0;
    font-family: Gotham;
}

/* Class générales */
.grey{
    color: rgba(187, 187, 187, 0.571);
}

.white{
    color: white;
}

.bold{
    font-weight: bold;
}

.container {
    width: 414px;
    height: 736px;
    background: linear-gradient(to bottom, #9f7e3d 0%,#47381a 100%);

}

/* -----------------------*/

header{
    width: auto;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
}

section{
    height: 49%;
    width: auto;
    /* border: 1px solid black; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.items1{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
}

.items2{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
}

.items3{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
}

.items4{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.8rem;
}

.one{
    font-size: 1.3rem;
}
.two{
    font-size: 2rem;
}
.tree{
    font-size: 4rem;
}
.four{
    font-size: 2rem;
}
.five{
    font-size: 1.3rem;
}

.timeline{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(187, 187, 187, 0.571);
    border-radius: 4px;
}
.circle{
    position: absolute;
    top: -5px;
    left: 0px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 12px;
}
.time{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.7rem;
    padding-top : 3px;
}

section img{
    width: 100%;
    object-fit: cover;
}

.like{
    font-size: 1.3rem;
    margin-top: 0.3rem;
}

.chevrondown{
    font-size: 1.3rem;
    font-weight: regular;
}

.ellipsis{
    font-size: 1.3rem;
    font-weight: regular;
}

.hmiddle{
    font-size: 0.8rem;
}

